<template>
  <div class="hello">
    <h1><span>Please touch button into otherpage</span></h1>
    <p>
      A mobile UI toolkit, based on Vue.js 2, designed for financial scenarios.
    </p>
    <md-button @click="jumpRegisterPage">Register</md-button>
    <h1></h1>
    <md-button @click="jumpotherPage">Validate</md-button>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import { Button, Toast } from "mand-mobile";

@Component({
  components: {
     "md-button": Button
  }
})
export default class Index extends Vue{
  @Prop() private msg!: string;
  
  jumpRegisterPage() {
     this.$router.push('/register');
  }
  jumpotherPage(){
    this.$router.push('/validate');
  }
};
</script>

<style scoped>
.hello {
  text-align: center;
  padding: 20px;
  font-size: 32px;
  color: #666;
  line-height: 56px;
}

.hello h1 {
  color: #333;
  line-height: 1.15;
  font-size: 64px;
  margin-bottom: 32px;
}

.hello h1 span {
  position: relative;
}

.hello h1 span::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 8px;
  width: 100%;
  height: 20px;
  background: #ecf6ff;
}
</style>
