<template>
  <div class="md-example-child md-example-child-picker md-example-child-picker-2">

    <section class="md-example-section">
      <div class="md-example-content">
          <md-field>
            <md-input-item ref="name" title="真实姓名"  placeholder="投保人姓名"  is-title-latent  clearable ></md-input-item>
            <md-input-item  ref="id"  title="身份证号"  placeholder="投保人身份证号" is-title-latent  clearable ></md-input-item>
             <md-field-item title="起保年份"  arrow="arrow-right" :addon="pickerValue0"  @click="isPickerShow0 = true">  </md-field-item>
            <md-field-item  title="省市区/县"  arrow="arrow-right" :addon="pickerValue1"  @click="isPickerShow1 = true">  </md-field-item>
        </md-field>
        <md-picker  ref="picker0"  v-model="isPickerShow0"  :data="pickerData0"  @confirm="onPickerConfirm(0)"  title="选择年份" ></md-picker>
        <md-picker  ref="picker1" v-model="isPickerShow1"  :data="pickerData1"  :cols="3" is-cascade title="选择省市区/县"  @confirm="onPickerConfirm(1)" ></md-picker>
       
     </div>
       <p class="itemtitle">上传图片</p>
      <div class="md-example-child md-example-child-reader md-example-child-reader-0">
        <ul class="image-reader-list">
          
          <li
            class="image-reader-item"
            v-for="(img, index) in imageList['reader0']"
            :key="index"
            :style="{
              'backgroundImage': `url(${img})`,
              'backgroundPosition': 'center center',
              'backgroundRepeat': 'no-repeat',
              'backgroundSize': 'cover'
            }">
            <md-tag
              class="image-reader-item-del"
              size="small"
              shape="quarter"
              fill-color="#111A34"
              type="fill"
              font-color="#fff"
              @click.native="onDeleteImage('reader0', index)"
            >
              <md-icon name="close"></md-icon>
            </md-tag>
          </li>
          <li class="image-reader-item add">
            <md-image-reader
              name="reader0"
              @select="onReaderSelect"
              @complete="onReaderComplete"
              @error="onReaderError"
              is-multiple
            ></md-image-reader>
            <md-icon name="camera" size="md" color="#CCC"></md-icon>
            <p>添加图片</p>
          </li>
        </ul>
      </div>
   </section>

     <div class="md-example-child md-example-child-button md-example-child-button-2">

        <md-button @click="submitform" type="default" round>提交</md-button>
        <md-button @click="toprev" type="primary" round>返回上一页</md-button>
      </div>

  </div>
  
</template>

<script lang="js">
import { Component, Prop, Vue } from 'vue-property-decorator'
import { Button, Icon, ImageReader, Tag, Toast } from "mand-mobile";
import {Picker, Field, FieldItem ,InputItem} from 'mand-mobile'
import simple from './data/simple'
import district from './data/district'
// const simple = require('./data/simple');
// const district = require('./data/district');


@Component({
  components: {
    [InputItem.name]: InputItem,
    [Picker.name]: Picker,
    [Field.name]: Field,
    [FieldItem.name]: FieldItem,
    [Icon.name]: Icon,
    [ImageReader.name]: ImageReader,
    [Tag.name]: Tag,
    [Button.name]: Button,
  },
   data() {
    return {
      isPickerShow0: false,
      isPickerShow1: false,
      pickerData0: simple,
      pickerData1: district,
      pickerValue0: '',
      pickerValue1: '',
      imageList: {
        reader0: [
          '//img-hxy021.didistatic.com/static/strategymis/insurancePlatform_spu/uploads/27fb7f097ca218d743f816836bc7ea4a',
          '//manhattan.didistatic.com/static/manhattan/insurancePlatform_spu/uploads/c2912793a222eb24b606a582fd849ab7',
        ],
        reader1: [],
      },
    }
  },
    methods: {
      onPickerConfirm(index) {
        // debugger;
        const ref = this.$refs[`picker${index}`];
        const values = ref.getColumnValues()

        let res = ''
        values.forEach(value => {
          value && (res += `${value.text || value.label} `)
        })
        this[`pickerValue${index}`] = res
      },
      onReaderSelect(name, {files}) {
        files.forEach(file => {
          console.log('[Mand Mobile] ImageReader Selected:', 'File Name ' + file.name)
        })
        Toast.loading('图片读取中...')
      },
      onReaderComplete(name, {dataUrl, file}) {
        Toast.hide()
        console.log('[Mand Mobile] ImageReader Complete:', 'File Name ' + file.name)
        setTimeout(() => {
          const demoImageList = this.imageList[name] || []
          demoImageList.push(dataUrl)
          this.$set(this.imageList, name, demoImageList)
        }, 100)
      },
      onReaderError(name, {msg}) {
        Toast.failed(msg)
      },
      onDeleteImage(name, index) {
        const demoImageList = this.imageList[name] || []
        demoImageList.splice(index, 1)
        this.$set(this.imageList, name, demoImageList)
      },
      submitform(){
           Toast.loading('提交数据中...')
          setTimeout(() => {
            Toast.hide()
            setTimeout(() => {
              Toast.succeed('提交成功!')
              // Toast.failed('载入失败')
            }, 10)
          }, 2000)
      },
      toprev(){
         this.$router.push('/index');
      }
  },
})
export default class Register extends Vue {
  
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="stylus">

.itemtitle
  float left
  font-size 30px
  margin-left 40px

.md-example-child-reader
  .image-reader-list
    float left 
    width 100%
    .image-reader-item
      position relative
      float left
      width 23.5%
      padding-bottom 23.5%
      margin-bottom 2%
      margin-right 2%
      background #FFF
      box-shadow 0 5px 20px rgba(197, 202, 213, .25)
      box-sizing border-box
      list-style none
      border-radius 4px
      background-size cover
      overflow hidden
      &:nth-of-type(4n)
        margin-right 0
      &.add 
        .md-icon
          position absolute
          top 40%
          left 50%
          transform translate(-50%, -50%)
          opacity .5
        p
          position absolute
          top 50%
          left 0
          width 100%
          margin-top 15px
          font-size 22px
          color #CCC
          text-align center
      .image-reader-item-del
        position absolute
        top 0
        right 0
        z-index 3
        opacity .8
        .md-icon-close
          font-size 24px

</style>
