<template>
 <div class="md-example-child md-example-child-captcha">
 

    <md-button @click="next">发送验证码</md-button>
    <md-button @click="toprev" type="primary" round>返回上一页</md-button>

    <md-captcha
      ref="captcha"
      v-model="show"
      :title="title"
      :maxlength="limit ? parseFloat(maxlength) : -1"
      :system="system"
      :mask="mask"
      :appendTo="appendTo"
      @submit="submit"
      @show="onShow"
      @hide="onHide"
      @send="onSend"
    >
      {{content}}
    </md-captcha>
	</div>
</template>




<script lang="js">
import { Component, Prop, Vue } from 'vue-property-decorator'
import {Button, Toast, Captcha, InputItem, Field, FieldItem, Switch} from 'mand-mobile'


@Component({
  components: {
    [Button.name]: Button,
    [Captcha.name]: Captcha,
    [InputItem.name]: InputItem,
    [Field.name]: Field,
    [FieldItem.name]: FieldItem,
    [Switch.name]: Switch,
  },
  data() {
        return {
            show: false,
            appendTo: document.querySelector('.doc-demo-box-priview') || document.body,
            title: '输入验证码',
            content: '验证码已发送至 186****5407',
            limit: true,
            maxlength: '4',
            mask: false,
            system: false,
        }
  },
    methods: {
        next() {
        this.show = true
        },
        submit(val) {
        const max = parseFloat(this.maxlength)
        setTimeout(() => {
            if (!this.limit || max < 0 || val.length === max) {
            if (val !== '1234') {
                this.$refs.captcha.setError('验证码错误，请重新输入')
            } else {
                this.show = false
                Toast({
                content: `你输入了${val}`,
                })
            }
            }
        }, 300)
        },
        onSend() {
        console.log('click resend button.')
        },
        onShow() {},
        onHide() {},
        toprev(){
           this.$router.push('/index');
        }
    },
})
export default class ValidateSend extends Vue {
  
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="stylus">
.md-example-child-captcha
  padding 20px
  .md-field
    margin-bottom 40px
</style>