<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
// @ is an alias to /src
import { Component, Prop,Vue ,Watch} from 'vue-property-decorator'
// import './assets/temp.css'

export default {
  name: "app",
  components: {
    
  }
};
</script>

<style scoped>

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 0;
  padding: 0;
}
</style>
